@import url("https://fonts.googleapis.com/css?family=Ubuntu");

body,
html {
    height: 100%;
    margin: 0;
    font-family: "Ubuntu", sans-serif;
    line-height: 180%;
    color: #666;
    text-align: center;
}

.parallax1 {
    background-image: url(img/background.png);
    min-height: 45%;
}

.parallax2 {
    background-image: url(img/background.png);
    min-height: 100%;
}

.parallax3 {
    background-image: url(img/background.png);
    min-height: 40%;
}

.parallax4 {
    background-image: url(img/background.png);
    min-height: 100%;
}

.parallax1,
.parallax2,
.parallax3,
.parallax4 {
    position: relative;
    opacity: 0.75;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.heading {
    position: absolute;
    color: #000000;
    font-size: 550%;
    top: 38%;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.heading-extra {
    position: absolute;
    top: 70%;
    width: 100%;
    color: #000000;
    font-size: 200%;
    text-transform: uppercase;
    letter-spacing: 0;
}

.heading-sm {
    position: absolute;
    top: 10%;
    width: 100%;
    color: black;
    font-size: 250%;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-shadow: 0 0 10px #000;
}

.two-col {
    float: left;
    width: 42%;
    padding: 0 4%;
    text-align: left;
}

section {
    overflow: auto;
    padding: 20px 80px;
    background-color: #000000;
}

.dark {
    overflow: auto;
    padding: 50px 80px;
    background-color: #323232;
    color: #f2f2f2;
}

@media (max-width: 810px) {
    .heading {
        font-size: 200%;
    }

    .heading-sm {
        font-size: 150%;
    }

    .heading-extra {
        font-size: 70%;
    }

    .two-col {
        width: 100%;
        padding: 0;
        text-align: center;
    }
}